---
# Playbook to create a Dynatrace plugin development box
# Ensure your /etc/ansible/hosts file contains an [aws] section
# with your remote user set to ec2-user
# eg.
# [aws]
# my.aws.ip ansible_user=ec2-user
#
# Also ensure you've downloaded the plugin SDK, renamed to plugin-sdk.zip and placed into the role files/ directory
#
# Author: Adam Gardner

- name: Create Plugin Development VM for Dynatrace Development
  hosts: aws
  
  roles:
    - dynatrace_adam_gardner.dynatrace_plugin_development_ansible
